
.Clouds {
  position: absolute;
  top: 10em;
  opacity: 0.6;
  background-image: url("../images/animated-cloud-image-0016.gif");
  background-repeat: no-repeat;
  background-size: contain;
  right: 0
}

.City {
  position: absolute;
  bottom: 0;
  opacity: 0.7;
  background-image: url("../images/city.png");
  height: 400px;
  background-size: contain;
}

.Ground {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../images/road.png");
  background-size: contain;
  height: 100px;
}

.TopPipe {
  position: absolute;
  background-image: url("../images/pipes.png");
  background-size: contain;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.BottomPipe {
  position: absolute;
  background-image: url("../images/pipes.png");
  background-size: contain;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}