@import 'variables';

.Clouds {
  position: absolute;
  top: 10em;
  opacity: 0.6;
  background-image: url("../images/animated-cloud-image-0016.gif");
  background-repeat: no-repeat;
  background-size: contain;
  right: 0
}

.City {
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  background-image: url("../images/city.png");
  background-position: bottom;
  background-size: cover;
}

.Ground {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../images/road.png");
  background-size: cover;
  height: 100px;
}

.pipe {
  position: absolute;
  background-color: #58403C;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23e8e8e8' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.TopPipe {
  @extend .pipe;
  border-bottom-left-radius: $pipe-radius;
  border-bottom-right-radius: $pipe-radius;
}

.BottomPipe {
  @extend .pipe;
  border-top-left-radius: $pipe-radius;
  border-top-right-radius: $pipe-radius;
}