
.Player {
    // Absolutely position entities at 0,0 and use transform to
    // move it around.
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-image: url("../images/birdBigStable.png");
}
.moveBird{
  animation: playerAnimation 0.3s linear infinite;
}

@keyframes playerAnimation {
  0%  {background-image: url("../images/birdBigUp.png");}
  33.33% {background-image: url("../images/birdBigStable.png");}
  66.66% {background-image: url("../images/birdBigDown.png");}
  99.99% {background-image: url("../images/birdBigStable.png");}
}

