$base-font-size: 10px;

@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

$pipe-radius: 2px;

@mixin gold{
  .Trophy {
    fill: gold;
    stroke: black;
  }
  .TrophySecondary {
    fill: goldenrod;
    stroke: black;
  }
  .TrophyStand {
    fill: darkgoldenrod;
    stroke: black;
  }
}
@mixin silver{
  .Trophy {
    fill: silver;
    stroke: black;
  }
  .TrophySecondary {
    fill: #8e8e8e;
    stroke: black;
  }
  .TrophyStand {
    fill: #8e8e8e;
    stroke: black;
  }
}

@mixin bronze{
  .Trophy {
    fill: #ab5208;
    stroke: black;
  }
  .TrophySecondary {
    fill: #4a2a02;
    stroke: black;
  }
  .TrophyStand {
    fill: #4a2a02;
    stroke: black;
  }
}

@mixin amature{
  opacity: 0.4;
  .Trophy {
    fill: #fafff8;
    stroke: black;
  }
  .TrophySecondary {
    fill: #fafff8;
    stroke: black;
  }
  .TrophyStand {
    fill: #fafff8;
    stroke: black;
  }
}