$base-font-size: 10px;

@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

.pinkSunrise {
    background: linear-gradient(to bottom, #4a4969 0%,#7072ab 50%,#cd82a0 100%);
}
.brightPurpleSunrise {
    background: linear-gradient(to bottom, #757abf 0%,#8593be 60%,#eab0d1 100%); 
}
.peachSunrise {
    background: linear-gradient(to bottom, #82addb 0%,#ebb3b1 100%);
}
.defaultDaylight {
    background: linear-gradient(to bottom, #94c5f9 1%,#a6e6ff 70%,#b1b5ea 100%);
}
.darkDaylight {
    background: linear-gradient(to bottom, #57c2eb 0%,#246fa9 100%);
}
