// bower:scss
// endbower

@font-face {
  font-family: 'FB';
  src: url('../fonts/FB.woff');
}

body {
  background: #333;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Score, .hiScore {
  font-family: "FB";
  color: white;
  position: absolute;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #333;
  width: 100%;
  text-align: center;
  font-size: 5em;
}

@import '_parallax';
@import '_game-canvas';
@import '_player';
@import '_scoreboard';
