// bower:scss
// endbower

body {
  background: #333;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

@import '_parallax';
@import '_game-canvas';
@import '_player';
@import '_scoreboard';
